<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="main-menu" side="left" width="230">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item" nav-clear menu-close ui-sref="app.settings">
          <img ng-src="{{user.avatar}}">
          <div class="heading-bg">
          </div>
          <div class="heading-action item-icon-left">
            <i class="icon ion-gear-a"></i>
            <h2 class="greeting">My settings</h2>
          </div>
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.home">
          <!-- <i class="icon ion-home"></i> -->
          <i class="icon ion-quote"></i>
          <h2 class="menu-text">Recent posts</h2>
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.bookmarks">
          <i class="icon ion-bookmark"></i>
          <h2 class="menu-text">Saved for later</h2>
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.contact">
          <i class="icon ion-location"></i>
          <h2 class="menu-text">Contact</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu class="multi-level-push-menu" side="right" ng-controller="PushMenuCtrl">
    <ion-content has-bouncing="false" scroll="false">
      <wp-search>
      </wp-search>
      <push-menu menu="menu"></push-menu>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
