<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <ion-slide-box delegate-handle="walkthrough-slider" show-pager="true">
        <ion-slide>
          <div class="row slide-content">
            <div class="col">
              <h3 class="slide-h">A FULL WordPress integration app</h3>
              <img class="slide-image" ng-src="img/ionWP1.png"/>
              <p class="slide-p">
                Super easy to configure, try it now!
              </p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="row slide-content">
            <div class="col">
              <h3 class="slide-h">All under a beautyfull design</h3>
              <img class="slide-image" ng-src="img/ionWP2.png"/>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block" ui-sref="login">
          Log In
        </a>
      </div>
      <div class="col col-center">
        <a class="sign-up button button-block" ui-sref="register">
          Register
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
