<div class="mp-level" ng-class="{'mp-level-overlay': menu.overlay, 'level-id-{{menu.id}}':true}">
	<div class="menu-heading" ng-class="{'has-previous': level > 0}">
		<a class="menu-title" ng-if="level > 0" menu-close ui-sref="app.category({categoryTitle: menu.title, categoryId: menu.id})">
			<h2 class="title-text">{{menu.title}}</h2>
			<span class="title-aux">see all</span>
		</a>
		<a class="menu-title" ng-if="level == 0" href="">
			<h2 class="title-text">{{menu.title}}</h2>
		</a>
		<a ng-if="level > 0" class="menu-back icon ion-chevron-left" ng-click="backToPreviousMenu(menu, $event)" href="#">back</a>
	</div>
	<ul class="categories-list">
		<li ng-repeat="item in menu.items" class="category-item-container icon" ng-class="{'ion-chevron-right': item.menu}">
			<div class="category-item" ng-if="item.menu">
				<a class="category-details" ng-click="openSubMenu(item.menu, menu, $event)" href="">
					<span class="category-title">{{ item.name }}</span>
					<p class="category-description">
						{{item.description}}
					</p>
				</a>
				<recursive-menu>
					<menu-level menu="item.menu" level="childrenLevel"></menu-level>
				</recursive-menu>
			</div>
			<div class="category-item" ng-if="!item.menu">
				<a menu-close class="category-details" ui-sref="app.category({categoryTitle: item.name, categoryId: item.id})">
					<span class="category-title">{{ item.name }}</span>
					<p class="category-description">
						{{item.description}}
					</p>
				</a>
			</div>
		</li>
	</ul>
</div>
